option_settings:
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: staticfiles

    aws:elasticbeanstalk:container:python:
        WSGIPath: src.core.wsgi:application

container_commands:
  01_activate_venv:
    command: "source /var/app/venv/*/bin/activate"
    leader_only: true
  02_migrate:
    command: "python src/manage.py migrate --noinput"
    leader_only: true
