{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

    <link rel="stylesheet" href="{% static 'profile/main.css' %}">
</head>

<body>
<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        <img class="rounded-circle mt-5" width="150px" src="{{ user.profile.image.url }}">
                        <span class="font-weight-bold">{{ user.username }}</span>
                        <span class="text-black-50">{{ user.email }}</span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels" for="first_name">Name</label>
                                <input type="text" class="form-control" value="{{ user.first_name }}" placeholder="first name" name="first_name" id="first_name" >
                            </div>
                            <div class="col-md-6">
                                <label class="labels" for="last_name">Surname</label>
                                <input type="text" class="form-control" value="{{ user.last_name }}" placeholder="surname" name="last_name" id="last_name" >
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label class="labels" for="username">Username</label>
                                <input type="text" class="form-control" value="{{ user.username }}" placeholder="username" name="username" required >
                            </div>
                            <div class="col-md-6">
                                <label class="labels" for="email">E-Mail</label>
                                <input type="text" class="form-control" value="{{ user.email }}" placeholder="e-mail" name="email" required >
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
{% endblock %}